body {
    background: #4b379a;
    margin: 0;
    padding: 0;
}

header {
    z-index: 1;
}

.banner.color {
    z-index: -1;
}

.box-header {
    margin: 0 auto;
    margin-top: 5em;
    width: 80%;
}

.img {
    background-image: url(IMG/box-area.jpg);
    background-size: cover;
    position: relative;
    z-index: -2;
}

.box-area {
    z-index: 1;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-block;
    margin: 0.5em;
}

.logo h1 {
    display: inline-block;
    color: white;
}

.menu-bar {
    display: inline-block;
}

.menu-bar nav {
    display: inline;
}

.menu-bar nav ul {
    display: inline;
}

.menu-bar nav ul li {
    display: inline;
    margin: 1em;
}

.menu-bar nav ul li a {
    display: inline;
    text-decoration: none;
    color: white;
}

.menu-bar nav ul li a span {
    padding-right: 0.5em;
}

.menu {
    display: inline-block;
}

.menu a{
    display: inline-block;
    margin-left: 1em;
    margin-right: 1.5em;
    background: white;
    height: 20px;
    position: relative;
    width: 7px;
    transform: rotate(45deg);
}

.menu a:after {
    background: white;
    content: "";
    height: 7px;
    width: 20px;
    left: -7px;
    position: absolute;
    top: 7px;
}

.titulos{
    text-align: center;
    line-height: 1em;
    color: white;
}

.titulos h5 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
}

.titulos h1 {
    font-family: "Poppins", sans-serif;
    font-size: 120px;
}

.started {
    text-align: center;
}

.buttom {
    display: inline-block;
    border: 1px solid white;
    border-radius: 25px;
}

.buttom a {
    text-decoration: none;
    color: white;
    padding: 1em;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
}

.buttom:hover {
    background: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    border-color: transparent;
}

.banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.color {
    opacity: .9;
    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
}

.container+.items {
}

.items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.buttom-1 {
    display: inline-block;
    background: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    border-color: transparent;
    border-radius: 25px;
    padding: 0.5em;
}

.buttom-1 a {
    text-decoration: none;
    color: white;
    padding: 1em;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.fa-arrow-right {
    padding-left: 1em;
}

.box-section-1{
    margin: 0 auto;
    width: 80%;
}

.section-1 {
    background: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-section-1 {
    width: 100%;
}

.flex-container-a1 {
    display: flex;
    flex-wrap: wrap; 
    margin-left: 2em;
    margin-right: 2em;
}

.column-1 {
    width: 50%;
}

.column-1 p {
    color: #777777;
}

.flex-container-a1 div #sub {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
}

.flex-container-a1 div p {
    font-family: "Poppins", sans-serif;
    padding-right: 2em;
}

.slider {
    width: 50%;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 20s infinite alternate-reverse;
}

.slider ul li {
    width: 100%;
    list-style: none;
}

.slider ul li img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }
}

.paralax {
    background-image: url(IMG/paralax.jpg);
}